@media (max-width: 920px) {
    .main {
        overflow: hidden;
    }

    .logo {
        font-size: 24px;
    }
    .nav-menu {
        display: none;
    }
    .main {
        padding: 5% 10px;
    }
    .main .author {
        font-size: 1.8rem;
        padding: 7px 100px;
        margin-top: 20%;
    }

    .main .description {
        font-weight: bold;
        font-size: 3.4rem;
        line-height: 116px;
    }

    .card h3 {
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1.8rem;

        color: #e0e0e0;
    }

    .card p {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.2rem;

        text-transform: uppercase;

        color: #828282;
    }

    .main .infos {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .main .topics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        margin-top: 15%;
    }

    .main .topics .topic-item-1,
    .main .topics .topic-item-2,
    .main .topics .topic-item-3,
    .main .topics .topic-item-4 {
        margin: 20px 10px;
    }

    .main .topics .topic-item-1 .index,
    .main .topics .topic-item-2 .index,
    .main .topics .topic-item-3 .index,
    .main .topics .topic-item-4 .index {
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 8px 14.65px;
        border-radius: 100%;
        margin-right: 16px;
    }

    .main .topics .topic-item-1 .topic-description,
    .main .topics .topic-item-2 .topic-description,
    .main .topics .topic-item-3 .topic-description,
    .main .topics .topic-item-4 .topic-description {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .categories .title h3 {
        font-size: 2.8rem;
        line-height: 2.7rem;

        letter-spacing: 0.17em;
        text-transform: uppercase;

        color: #828282;
    }

    .categories .title h1 {
        font-size: 4.6rem;
        font-weight: 700;
        line-height: 7rem;

        color: #ffffff;
        margin-top: 16px;
    }

    .categories-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 81px 0;
        margin: 0;

        width: 95%;
    }

    .category {
        position: relative;
        transition: 0.7s ease;

        margin-top: 3.8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 90%;
        cursor: pointer;
    }
}