* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Mukta", sans-serif;
}

body {
    background: #333333;
    color: #fff;
}

header {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 24px 16px;
    max-width: 1440px;

    border-bottom: 1px solid #fff;
}

.logo {
    font-size: 36px;
    font-weight: 300;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style: none;
    margin-left: 16px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.login {
    margin-left: 16px;
    border: 1px solid #fff;
    border-radius: 54px;
    padding: 2px 24px;
}

.login a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.main {
    max-width: 1440px;
    width: 100%;
    height: 87.8vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .author {
    font-size: 36px;
    background: rgba(51, 51, 51, 0.66);
    border-radius: 73px;

    padding: 7px 100px;
    position: relative;
}

.main .author::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    left: 64px;
    top: 36px;

    background: #ffffff;
    border-radius: 10px;
}

.main .author::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    right: 64px;
    top: 36px;

    background: #ffffff;
    border-radius: 10px;
}

.main .description {
    font-weight: bold;
    font-size: 70px;
    line-height: 116px;
}

.main .infos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 96px;
    height: 64px;
    background: rgba(51, 51, 51, 0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:nth-child(2),
.card:nth-child(3),
.card:nth-child(4) {
    margin-left: 2px;
}

.card h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;

    color: #e0e0e0;
}

.card p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;

    text-transform: uppercase;

    color: #828282;
}

.topics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4f4f4f;
    padding: 0 16px 70px 16px;
    margin-top: 265px;
}

.topic-item-1,
.topic-item-2,
.topic-item-3,
.topic-item-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    max-width: 327px;
}

.topic-item-3 {
    max-width: 327px;
    width: 100%;
}

.topic-item-4 {
    margin: 0;
}

.topic-item-1 .index,
.topic-item-2 .index,
.topic-item-3 .index,
.topic-item-4 .index {
    border: 1px solid #828282;
    font-size: 18px;
    line-height: 30px;
    padding: 12px 18.65px;
    border-radius: 100%;
    margin-right: 16px;
}

.topic-item-1 .topic-description,
.topic-item-2 .topic-description,
.topic-item-3 .topic-description,
.topic-item-4 .topic-description {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.background {
    background: url("img/image 3.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.background::after {
    content: "";
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(360deg, #333333 0%, rgba(51, 51, 51, 0.89) 12.23%, rgba(51, 51, 51, 0.22) 26.89%);
    z-index: -1;
}

.categories {
    padding: 120px 0;
    height: 100vh;

    max-width: 1440px;
    width: 100%;

    margin: 0 auto;
}

.categories .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories .title h3 {
    font-size: 40px;
    line-height: 47px;

    letter-spacing: 0.17em;
    text-transform: uppercase;

    color: #828282;
}

.categories .title h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 94px;

    color: #ffffff;
    margin-top: 16px;
}

.categories-card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 81px;
}

.category {
    position: relative;
}

.category .category-caption {
    position: absolute;
    left: 30px;
    bottom: 20px;

    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category .category-caption h3 {
    font-size: 36px;
    line-height: 52px;
    font-weight: 700;
    color: #ffffff;
}

.category .category-caption p {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;

    color: #828282;
    position: relative;
}

.category .category-caption p::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    left: -18px;
    top: 8px;
    width: 12px;
    height: 3px;

    background: #828282;
    border-radius: 10px;
}

.category .category-caption p::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    right: -18px;
    top: 8px;
    width: 12px;
    height: 3px;

    background: #828282;
    border-radius: 10px;
}
